<!-- footer -->
<footer class="footer">
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="footer-content">
              <img src="assets/images/Logo.png" alt="" class="img-fluid footer-logo">
              <h3 class="footer-title">DOWNLOAD OUR APPS</h3>
              <div class="hero-btn">
                <a href="#"><img src="assets/images/playstore.png" alt="" class="img-fluid"></a>
                <a href="#"><img src="assets/images/appstore.png" alt="" class="img-fluid"></a>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="footer-content">
              <h3 class="footer-title">RELATED LINKS</h3>
              <ul class="footer-links">
                <li><a href="#">Artist Entrance</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-content">
              <h3 class="footer-title">LEGAL INFORMATION</h3>
              <ul class="footer-links">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms and Conditions</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-content">
              <h3 class="footer-title">FOLLOW US </h3>
              <div class="social-links">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="footer-copyright">
    <div class="container">
      <p class="copyright">© 2022 OohYeah All Rights Reserved.</p>
    </div>
  </div>
  </footer>
  <!-- footer -->
  


