<!-- about section -->
<section class="about-sec about-page-sec">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="about-img">
            <img src="assets/images/about-img.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-7">
          <div class="hero-content about-page-content about-content">
            <h2>About Us</h2>
            <p>OohYeah is a music streaming platform and marketplace.  Our mission is to offer artists more options and control in how they monetize their music. <br>
                OohYeah is free for fans and artists to join and start listening to music. It’s easy to browse, make playlists and listen to thousands of songs from today’s premiere and upcoming artists.  A lot of the music streams for free, legally through YouTube.
                </p>
            <p>If you’re an artist and your music is already on OohYeah, you receive royalties from your partners for your streams on OohYeah.  You can claim your profile during the registration process and once you’re registered, you can choose whether you would like your music to remain streaming for free, or take the next step and control how you can monetize your music even further. </p>
            <a href="#">LEARN MORE <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about section -->