
 <div class="login-page">
<div class="site-wrapper">
    <div class="login-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="login-logo text-center">
                        <img src="assets/images/about-img.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="login-form-wrap">
                        <div class="login-head text-center">
                            <img src="assets/images/Logo.png" alt="" class="img-fluid">
                        </div>
                        <div class="login-form-area">
                            <div class="form-field">
                                <input type="email" name="email" class="form-control" placeholder="Email Address">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="form-field">
                                  <input type="password" name="password" class="form-control" placeholder="Password">
                                  <i class="fas fa-lock"></i>
                              </div>
                              <div class="form-bottom-field d-flex justify-content-between">
                                  <div class="remember-area">
                                      <label for="remember">
                                          <input type="checkbox" name="remember" id="remember">
                                          <span></span>
                                          Remember Me
                                      </label>
                                  </div>
                                  <a href="#" class="forgot-link">Forgot Password?</a>
                              </div>
                              <div class="form-field">
                                  <button type="submit" class="form-submit-btn">Log in</button>
                              </div>
                        </div>
                        <div class="login-outer-wrap">
                            <div class="login-devider">
                                <span>OR</span>
                            </div>
                            <div class="login-outer-btns">
                                <button class="api-login-btn fb-login"><i class="fab fa-facebook-f"></i> Sign up with facebook</button>
                                <button class="api-login-btn google-login"><i class="fab fa-google"></i> Sign up with Google</button>
                                <button class="api-login-btn apple-login"><i class="fab fa-apple"></i> Sign up with Apple</button>
                            </div>
                            <div class="login-outer-footer">
                                <p class="singup-link">Don’t have an account? <a routerLink="/register">Create an account</a> </p>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>