<!-- hero section -->
<section class="hero-sec">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7">
          <div class="hero-content">
            <h2>Deliver More Meaningful Support to the Artists You Know and Love</h2>
            <p>OohYeah is a pro-artist streaming platform where fans can access <br> exclusive content, order merch, and rest easy knowing that artists <br> receive 100% of all support.
            </p>
            <div class="hero-btn">
              <a href="#"><img src="assets/images/playstore.png" alt="" class="img-fluid"></a>
              <a href="#"><img src="assets/images/appstore.png" alt="" class="img-fluid"></a>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="hero-img">
            <img src="assets/images/hero-img.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- hero section -->


  <!-- advantage sec -->
  <section class="advantage-sec">
    <video autoplay muted loop class="adv-video">
      <source src="assets/video/Record.mp4" type="video/mp4">
    </video>
    <div class="adv-inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="advantage-content">
              <h2>The OohYeah advantage.</h2>
              <p>OohYeah is committed to becoming the best music streaming platform for artists. Here’s how:</p>
              <ul>
                <li>Commission-free revenue from monthly music subscribers</li>
                <li>Full control of pricing for downloadable content, merchandise, and more</li>
                <li>Monthly payouts, not quarterly like most streaming platforms</li>
              </ul>
              <p>Less than 1% of artists earn over 50K per year. It’s time to stop relying on per-stream payments. Get the tools you need to turn fans into revenue by trying OohYeah free for 30-days!</p>
              <a href="#" class="btn-primery">Free trial</a>
            </div>
          </div>
        </div>
      </div>
    </div>
      
  </section>
  <!-- advantage sec -->

  <!-- about section -->
  <section class="about-sec">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="about-img">
            <img src="assets/images/about-img.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-7">
          <div class="about-content">
            <h3>One music streaming platform. <br> Limitless earning potential.</h3>
            <p>Get the tools you need to turn fans into revenue by trying OohYeah free for 30-days!</p>
            <ul>
              <li>Sell artist merch without paying a commission</li>
              <li>Monitor analytics for a more predictable monthly income</li>
              <li>Offer exclusive content to paying subscribers</li>
              <li>Generate revenue through pre-orders and crowdfunding</li>
              <li>Send special promos and sales to fans and create vouchers</li>
              <li>Get discovered and added to more playlists from other subscribed fans</li>
            </ul>
            <p>Learn how to start monetizing your music with OohYeah today!</p>
            <a href="#">LEARN MORE <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
 

  <!-- <div class="row">  
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">  
      <div ngxSlickItem *ngFor="let image of images" class="slide">  
        <div class="offer-slide">
            <div class="offer-content">
              <img src="assets/images/offer.png" alt="">
              <h2>Sell Items</h2>
              <p>Sell unlimited store items in our commission free marketplace</p>
            </div>
          </div> 
      </div>  
    </ngx-slick-carousel>  
  </div>   -->



  <section class="offer-sec">
    <div class="container">
      <div class="section-head">
        <h2 class="section-title">OOHYEAH OFFERS </h2>
        <p class="sec-text">A MARKETPLACE FOR ARTIST TO MONETIZE</p>
      </div>
      <div class="offer-slider">
        <ngx-slick-carousel class="carousel" #slickModalArt="slick-carousel" [config]="slideConfig">  
            <div ngxSlickItem *ngFor="let image of images" class="slide">  
              <div class="offer-slide">
                  <div class="offer-content">
                    <img src="{{ image.img }}" alt="">
                    <h2>{{ image.text }}</h2>
                    <p>{{ image.content }}</p>
                  </div>
                </div> 
            </div>  
          </ngx-slick-carousel>  
      </div>
    </div>
  </section>
  <!-- offer section -->


  <!-- profile-section -->
  <section class="profile-sec">
    <div class="container">
      <div class="section-head">
        <h2 class="section-title">PROFILE OPTION</h2>
        <p>OPTION FOR ARTIST TO MONETIZE</p>
      </div>
      <div class="profile-content-wrap d-lg-flex justify-content-between">
        <img src="assets/images/profile-indicator.png" alt="" class="img-fluid pc-indicator-1">
        <img src="assets/images/profile-indicator.png" alt="" class="img-fluid pc-indicator-2">
        <div class="profile-content">
          <span class="pro-num">1.</span>
          <img src="assets/images/profile-icon.png" alt="" class="img-fluid">
          <h3>SUBSCRIPTION MODE</h3>
          <p>Offer fans full access for a monthly subscription directly to the artist</p>
        </div>
        <div class="profile-content">
          <span class="pro-num">2.</span>
          <img src="assets/images/profile-icon2.png" alt="" class="img-fluid">
          <h3>TIP JAR MODE</h3>
          <p>Content is available to stream for free but fans can tip artist directly, for any amount without further obligation</p>
        </div>
        <div class="profile-content">
          <span class="pro-num">3.</span>
          <img src="assets/images/profile-icon2.png" alt="" class="img-fluid">
          <h3>STORE MODE</h3>
          <p>Subscription and tips are disabled, music can stream for free, but artist can seel HQ download and tangible merchandise comission-free</p>
        </div>
      </div>
    </div>
  </section>
  <!-- profile-section -->


  <!-- get start section -->
  <section class="get-start">
    <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" class="adv-video">
      <source src="assets/video/Chris.mp4" type="video/mp4">
  </video>
    <div class="inner-get-start">
      <div class="container">
        <div class="get-start-content text-center">
          <img src="assets/images/get-start-logo.png" alt="" class="img-fluid get-start-logo">
          <h3>Getting started with OohYeah!</h3>
          <p>As an artist, earning money from your music is key to supporting your livelihood. Unfortunately, <br> most of today’s streaming platforms aren’t compensating artists fairly.</p>
          <p>That’s why long-standing independent artists and newcomers alike trust OohYeah as the best-paying <br> music streaming service with more ways to monetize than conventional platforms.</p>
          <h4 class="gs-title">Sell Your Music, Not Your Soul </h4>
          <p>See for yourself with a free, 30-day trial. </p>
          <a href="#" class="btn-primery">Free trial</a>
        </div>
      </div>
    </div>
      
  </section>
  <!-- get start section -->

  <!-- artist section -->
  <section class="artist-sec">
    <div class="container">
      <div class="section-head">
        <h2 class="section-title">Featured on OohYeah</h2>
        <p>ARTIST</p>
      </div>
      <div class="artist-slider">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigArtist">  
            <div ngxSlickItem *ngFor="let image of artistImages" class="artist-slide">  
               <!-- artist slide -->
                <div class="artist-content">
                  <div class="artist-thumb">
                    <img src="{{ image.img }}" alt="" class="img-fluid">
                  </div>
                  <h4>Marc Bosserman</h4>
                  <p>Artist</p>
                </div>
              <!-- artist slide -->
            </div>  
          </ngx-slick-carousel>  
      </div>
    </div>
  </section>
  <!-- artist section -->

