<div class="login-page">
<div class="site-wrapper">
    <div class="login-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="login-logo text-center">
                        <img src="assets/images/about-img.png" alt="" class="img-fluid">
                        
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="login-form-wrap">
                        <div class="login-head text-center">
                            <img src="assets/images/Logo.png" alt="" class="img-fluid">
                            <p>Artist Registration</p>
                        </div>
                        <div class="login-form-area">
                          <div class="form-field">
                              <input type="text" name="name" class="form-control" placeholder="User Name">
                              <i class="fas fa-user"></i>
                          </div>
                          <div class="form-field">
                              <input type="text" name="location" class="form-control" placeholder="Location">
                              <i class="fas fa-map-marker-alt"></i>
                          </div>
                            <div class="form-field">
                                <input type="email" name="email" class="form-control" placeholder="Email Address">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="form-field">
                                  <input type="password" name="password" class="form-control" placeholder="Password">
                                  <i class="fas fa-lock"></i>
                              </div>
                              
                              <div class="form-bottom-field">
                                  <div class="remember-area">
                                      <label for="remember">
                                          <input type="checkbox" name="remember" id="remember">
                                          <span></span>
                                          I agree to <a href="#"> OohYeah`s terms & conditions and privacy policy</a> 
                                      </label>
                                  </div>
                              </div>
                              <div class="form-field">
                                  <button type="submit" class="form-submit-btn">Next</button>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>