<section class="estimation-sec">
<div class="container">
<div class="section-head">
    <h2 class="est-title">Estimate Your Earning</h2>
</div>
<div class="estimate-content-area">
    <div class="estimate-form-wrap">
        <form action="#">
            <div class="row">
                <div class="col-lg-6">
                    <div class="estimate-field">
                        <input type="text" name="fans" placeholder="Number of Fans" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="estimate-field">
                        <input type="text" name="Subscription" placeholder="Subscription Price to Fans" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="estimate-field">
                        <input type="text" name="monthlyfee" placeholder="-Monthly Fee" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="estimate-field">
                        <input type="text" name="dist-fee" placeholder="-Distribution Fee" class="form-control">
                    </div>
                </div>
                <div class="col-12">
                    <div class="estimate-field">
                        <button class="est-submit">Calculate</button>
                        <button class="est-reset"><img src="assets/images/reset.png" alt="Reset" class="img-fluid"> Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</section>